.jumbotron {
	color: #e8993f;
	font-family: Garamond;
	background-image: url("Images/bellybutton.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 70px;

}

